@media (max-width: 768px) {
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
  }
  #searchForm {
    width: 100%; /* Make the search form full width */
    margin-top: 10px; /* Add some margin on top */
  }
  #searchForm .form-control {
    margin-bottom: 10px; /* Add space below the search input */
  }
  .d-flex.align-items-center {
    flex-direction: column; /* Stack elements vertically */
  }
  .d-flex.align-items-center > a {
    width: 100%; /* Make the exit button full width */
    margin-top: 10px; /* Add some margin on top */
  }
}
