/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66767f;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: small;
}
h1 {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e1e8ed;
  color: #333;
  padding: 20px;
  line-height: 1.6;
}
#promptInput {
  background-color: #e1e8ed;
  border: 1px solid #ddd;
}
h1 {
  color: black;
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"] {
  width: calc(100% - 22px); /* Adjust input width to fit container */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
}

button {
  background-color: #272f33;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #494d49; /* Darker green */
}

#responseText {
  margin-top: 20px;
  padding: 10px;
  background-color: #e1e8ed;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.exit-button {
  margin: 10px;
  background-color: #66767f;
}
.logo {
  margin: 0;
}
a {
  color: #e1e8ed;
  text-decoration: none;
}
